# create ${beanstalk_docker_host_logdir}/rotated directory, owned by ec2-user
commands:
  01_test_parent_dir:
    command: "test -d ${beanstalk_docker_host_logdir}"
  02_mkdir_rotated:
    command: "mkdir -p ${beanstalk_docker_host_logdir}/rotated"
  03_chown_rotated:
    command: "chown ec2-user:ec2-user ${beanstalk_docker_host_logdir}/rotated"
