.default-label {
    width: 396px;
    height: 22px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }