<div class="container">
  <div *ngIf="isDebugMode; else elseBlock">
    <button mat-icon-button class="icon-button-small"
            (click)="toggleDebug()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <ng-template #elseBlock>
    <button mat-icon-button
            (click)="toggleDebug()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </ng-template>

  <div class="row" *ngIf="isDebugMode">
    <div class="messagetray-detail-card ">
      <h3 class="center">Message Tray</h3>
      <div class="container">
        <table matSort (matSortChange)="sortData($event)"
               matSortActive="timestamp" class="table table-striped">
          <thead>
          <tr>
            <th> Timestamp </th>
            <th> Message </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let data of messages">
            <td> <span>{{data.timestamp | date: "yyyy-MM-dd HH:mm:ssZ"}}</span> </td>
            <td ><span>{{data.message | json }} </span></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
