<mat-drawer-container class="example-container">
  <mat-drawer
    class="sidebarcontainer"
    #drawer
    mode="side"
    position="end"
  >
    <div class="messagetray-detail-card ">
      <h3 class="center">Message Tray</h3>
      <div class="container">
        <table matSort (matSortChange)="sortData($event)"
               matSortActive="timestamp" class="table table-striped">
          <thead>
          <tr>
            <th> Timestamp </th>
            <th> Message </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let data of messages">
            <td> <span>{{data.timestamp | date: "yyyy-MM-dd HH:mm:ssZ"}}</span> </td>
            <td ><ngx-json-viewer [json]="data.message">  </ngx-json-viewer></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </mat-drawer>
  <div class="vl" *ngIf="drawer.opened; else elseBlock">
    <button mat-icon-button class="icon-button-small arrow_left"
            (click)="drawer.toggle()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <ng-template #elseBlock>
    <button mat-icon-button class="arrow_right"
            (click)="drawer.toggle()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </ng-template>
</mat-drawer-container>
