.messagetray-detail-card {
  /*height: 73px;*/
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  min-height: 100px;
  /*overflow-y: scroll;*/
  overflow: scroll;
  height: 700px;
}

.messagetray-detail-card table {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

.messagetray-detail-card th {
  /* position: sticky;*/
  top: 0;
  background: rgb(230, 230, 230);
}

.messagetray-detail-card th,
.messagetray-detail-card td {
  /*padding: 8px 16px;*/
  white-space: break-spaces;
  word-wrap: break-word;
  /*max-width: 200px;*/
}

th.mat-sort-header-sorted {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
}


.rightarrow {
  float: right;
  margin-top: 50%;
}

.sidebarcontainer {
  width: 50%;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.arrow_left {
  float: right;
  color: green;
  height: 100%;
}

.arrow_right {
  float: right;
  color: blue;
  height: 100%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.example-sidenav-content {
  display: flex;
}

.vl {
  border: 1px solid rgba(0, 150, 0, 0.5);
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}
