<alert
  type="success"
  [dismissible]="true"
  [dismissOnTimeout]="30000"
  *ngIf="success == true && fail == false"
>
  <strong
    >Successfully submitted the Observation(s) of count({{
      this.selectedNewResources?.length + this.selectedUpdatedResources?.length
    }}).</strong
  >
</alert>

<alert
  type="danger"
  [dismissible]="true"
  [dismissOnTimeout]="30000"
  *ngIf="fail == true && success == false"
>
  <strong>Error Occurred while Submitting the Observation(s).</strong>
</alert>

<div class="row form-group">
  <div class="col-md-12">
    <div class="col-md-8 date-label">
      <b>Date Retrieved </b> : {{ now | date: "yyyy-MM-dd HH:mm" }}
    </div>

    <div class="col-md-4 navbar-brand form-inline">
      <button
        type="button"
        class="btn btn-primary btn-sm pull-right"
        (click)="toggleAllObservations()"
      >
        {{ toggleAll == false ? "HideAll" : "ExpandAll" }}
      </button>
    </div>
  </div>
</div>

<div class="panel-body table-wrapper-scroll-y my-custom-scrollbar">
  <div *ngFor="let key of keys; let i = index" class="table-responsive">
    <div>
      <div class="col-md-6">{{ codes[key].text }}</div>
      <div class="col-md-3">
        Count : {{ codes[key].matchingEntries.length }}
      </div>
      <div class="col-md-2 form-group">
        <button
          type="button"
          class="btn btn-primary pull-right"
          (click)="toggleObservations(i)"
        >
          {{ toggle[i] == true ? "Hide" : "Show" }}
        </button>
      </div>
    </div>

    <table
      class="table table-striped table-bordered table-hover"
      *ngIf="toggle[i]"
    >
      <thead>
        <td><b>Effective Time</b></td>
        <td><b>Value</b></td>
        <td>
          <input
            class="checkbox i-checks"
            type="checkbox"
            (ngModelChange)="selectAll(key)"
            [(ngModel)]="codes[key].isAllSelected"
            [disabled]="codes[key].isAlldisabled"
          />
        </td>
      </thead>
      <tbody>
        <tr
          *ngFor="let entry of codes[key].matchingEntries"
          [style.fontWeight]="entry.state"
        >
          <td>
            {{
              entry.resource.effectiveDateTime | date: "yyyy-MM-dd HH:mm:ssZ"
            }}
          </td>
          <td>
            {{ resourcevalue(entry) }}
          </td>
          <td>
            <input
              class="checkbox i-checks"
              type="checkbox"
              [(ngModel)]="entry.selected"
              (ngModelChange)="toggleOption(key)"
              [disabled]="entry.state == 'lighter'"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row top-buffer navbar fixed-bottom">
  <div class="col-md-12">
    <button
      type="button"
      class="btn btn-primary pull-right"
      (click)="submitToCibmtr()"
      enabled
    >
      Submit to CIBMTR
    </button>
  </div>
</div>
