<div class="container">
  <div *ngIf="ehrpatient" class="col-xs-12">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-8">
              <div class="panel-title">EHR Launch Context Patient</div>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <tr>
                <td>Name</td>
                <!--<td>Contact Info</td>-->
                <td>Identifier</td>
                <td>D.O.B.</td>
                <td>Gender</td>
                <!--<td>Marital Status</td>-->
                <td>CRID</td>
              </tr>
              <tr>
                <td>
                  {{ getGivenName(ehrpatient) }}
                  {{ ehrpatient.name[0]?.family }}
                </td>

                <!--<td *ngIf="ehrpatient?.telecom; else no_contact">
                  {{ formatContact(ehrpatient?.telecom) }}
                </td>
                <ng-template #no_contact><td></td></ng-template>-->

                <td
                  *ngIf="ehrpatient.identifier?.length > 0; else no_identifier"
                >
                  {{ formatIdentifier(ehrpatient?.identifier) }}
                </td>
                <ng-template #no_identifier><td></td></ng-template>

                <td>{{ ehrpatient.birthDate }}</td>
                <td>{{ ehrpatient.gender }}</td>

                <!--<td>
                  {{ displayMaritalStatus(ehrpatient.maritalStatus) }}
                </td>-->

                <td>{{ crid }}</td>
              </tr>
            </table>

            <!-- ADD Register Button for Fhir server call-->
            <div>
              <button
                type="button"
                class="btn btn-primary pull-right"
                (click)="register($event, ehrpatient)"
                [disabled]="crid || isLoading"
              >
                <img
                  *ngIf="isLoading"
                  style="width: 24px"
                  src="assets/spinner.gif"
                />
                Register and Proceed
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" *ngIf="cridCallComplete == true && crid">
    <div class="row" *ngIf="crid">
      <nav>
        <div class="col-xs-3">
          <button mat-menu-item (click)="proceed()">Proceed</button>
        </div>
      </nav>
    </div>
  </div>
</div>
