<div class="container">
  <div *ngIf="cibmtrPatientCount > 1" class="alert alert-warning mt-n1">
    WARNING! A duplicate patient resource has been identified for this patient.
    It is necessary to correct this before proceeding further. Please open a
    ticket through NMDP ServiceNow to report this issue. Please include the
    assigned CRID for this patient
  </div>
  <div class="row">
    <div class="welcome-text">
      Welcome {{ dataManager_name }} from {{ selectedCenter_name }}
    </div>
  </div>

  <div class="row">
    <div class="patient-card" *ngIf="ehrpatient">
      <div class="col-12 col-md-6 patient-name">
        {{ getGivenName(ehrpatient) }}
        {{ ehrpatient.name[0]?.family }}
      </div>

      <div class="col-12 col-md-6 patient-crid">
        <div *ngIf="crid$ | async">
          <div *ngIf="crid; else other_content">
            <span class="research-id-text">CIBMTR Research ID (CRID) : </span>
            <span>{{ crid }}</span>
          </div>
          <ng-template #other_content>
            <button
              class="btn btn-primary register"
              type="button"
              (click)="register($event, ehrpatient)"
              [disabled]="isLoading"
            >
              <img id="spinner" *ngIf="isLoading" src="assets/spinner.gif" />
              Associate Crid
            </button>
          </ng-template>
        </div>
      </div>

      <div class="patient_details">
        <div
          class="text-danger"
          *ngIf="ssnIdentifier?.length > 0 && !isValidSsn"
        >
          Warning : Invalid SSN {{ ssnIdentifier.value }} will not be used for
          CRID registration
        </div>
        <ul>
          <li>Date of birth: {{ ehrpatient.birthDate }}</li>
          <li>Gender: {{ ehrpatient.gender }}</li>
          <li>Identifiers:</li>
          <ul *ngFor="let identifier of nonPIIIdentifiers">
            <li>{{ identifier.type?.text }}:{{ identifier.value }}</li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12" *ngIf="cridCallComplete === true && crid">
        <div *ngIf="crid">
          <button
            type="button"
            class="btn btn-primary register_proceed pull-right"
            (click)="proceed()"
          >
            Proceed
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
