.fixed_header {
  overflow: scroll;
  height: 300px;
}

.fixed_header table {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

.fixed_header th,
.fixed_header td {
  padding: 8px 16px;
}

.fixed_header th {
  position: sticky;
  top: 0;
  background: rgb(220, 220, 220);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

.date-label {
  margin-top: 10px;
  height: 22px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #696969;
}

// .alert-dismissible {
//   -moz-animation: fadeOut 0s ease-in 10s forwards;
//   -webkit-animation: fadeOut 0s ease-in 10s forwards;
//   -o-animation: fadeOut 0s ease-in 10s forwards;
//   animation: fadeOut 0s ease-in 10s forwards;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
// }
// @keyframes fadeOut {
//   0% {
//     overflow: hidden;
//   }
//   100% {
//     visibility: hidden;
//   }
// }
// @-webkit-keyframes fadeOut {
//   0% {
//     overflow: hidden;
//   }
//   100% {
//     visibility: hidden;
//   }
//}
