<div class="container">
  <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
    <div
      class="alert alert-info"
      *ngIf="totalSuccessCount > 0 || totalFailCount > 0"
    >
      <strong *ngIf="totalSuccessCount > 0"
        >{{ totalSuccessCount }} Observation(s) submitted Successfully.
      </strong>
      <strong *ngIf="totalFailCount > 0"
        >{{ totalFailCount }} Observation(s) failed to Submit
      </strong>
    </div>
    <div class="col-md-6 date-label">
      <b>Date Retrieved </b> : {{ now | date: "yyyy-MM-dd HH:mm" }}
    </div>
  </nav>

  <div class="fixed_header">
    <table
      matSort
      (matSortChange)="sortHeader($event)"
      matSortDisableClear="true"
      class="table table-striped"
    >
      <thead>
        <tr>
          <th mat-sort-header="name">Name</th>
          <th>Value</th>
          <th mat-sort-header="time">Effective Time</th>
          <th>
            <input
              type="checkbox"
              [(ngModel)]="isAllSelected"
              (ngModelChange)="selectAll()"
              [disabled]="isAlldisabled"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of categoryData" [style.fontWeight]="entry.state">
          <td>
            {{ entry?.resource?.code?.text }}
          </td>
          <td>
            <span>{{ getNodeValue(entry?.resource) }}</span>
            <span>{{ getComponentValue(entry?.resource?.component) }}</span>
          </td>
          <td>
            {{
              entry.resource.effectiveDateTime | date: "yyyy-MM-dd HH:mm:ssZ"
            }}
          </td>
          <td>
            <input
              type="checkbox"
              [(ngModel)]="entry.selected"
              (ngModelChange)="toggleOption()"
              [disabled]="entry.state == 'lighter'"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row top-buffer">
    <button
      type="button"
      class="btn btn-primary pull-right"
      (click)="submitToCibmtr()"
      enabled
    >
      Submit to CIBMTR
    </button>
  </div>
</div>
