.fixed_header {
  overflow: scroll;
  height: 300px;
}

.fixed_header table {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

.fixed_header th,
.fixed_header td {
  padding: 8px 16px;
}

.fixed_header th {
  position: sticky;
  top: 0;
  background: rgb(220, 220, 220);
}
.date-label {
  margin-top: 10px;
  height: 22px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #696969;
}

.top-buffer {
  margin-top: 20px;
}

.container {
  height: 100%;
  width: 100%;
}
