.fixed_header {
  overflow: auto;
  height: 500px;
}

.fixed_header table {
  border-collapse: collapse;
  width: 100%;
}

.fixed_header th,
.fixed_header td {
  padding: 8px 16px;
}

.fixed_header th {
  position: sticky;
  top: 0;
  background: rgb(220, 220, 220);
}

.date-label {
  margin-top: 10px;
  height: 22px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #696969;
}

.top-buffer {
  margin-top: 20px;
}

// .alert-dismissible {
//   -moz-animation: fadeOut 0s ease-in 10s forwards;
//   -webkit-animation: fadeOut 0s ease-in 10s forwards;
//   -o-animation: fadeOut 0s ease-in 10s forwards;
//   animation: fadeOut 0s ease-in 10s forwards;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
// }
// @keyframes fadeOut {
//   0% {
//     overflow: hidden;
//   }
//   100% {
//     visibility: hidden;
//   }
// }
// @-webkit-keyframes fadeOut {
//   0% {
//     overflow: hidden;
//   }
//   100% {
//     visibility: hidden;
//   }
//}
