.Rectangle-Copy {
  width: 1440px;
  height: 130px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.CIBMTR-Reporting-label {
  width: 256px;
  height: 41px;
  font-family: Cambria;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9f9f9f;
}

.version {
  width: 61px;
  height: 16px;
  font-family: AvenirNext;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9f9f9f;
  text-align: center;
}

.btm-logo {
  width: 150px;
  height: 80px;
}
