<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CIBMTR Reporting</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="container-background">
    <div *ngIf="!getLoginWidget().isLoggedIn()" id="nmdp-login-container"></div>
    <div *ngIf="getLoginWidget().isLoggedIn()">
      <div class="header">
        <div class="navbar-default" role="navigation">
          <div class="container">
            <img
            class="btm-logo img-responsive navbar-left "
            img
            src="assets/images/logo.png"
            height="280"
            width="280"
          />
            <div class="navbar-header">
              <a class="navbar-brand CIBMTR-Reporting-label"><b>CIBMTR Reporting</b></a> 
            </div>
            <div class= "navbar-brand navbar-right">
              <button class="mybutton" (click)="logout()">
                CIBMTR Logout
              </button>
            </div>
           
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
