.CIBMTR-Reporting-label {
  font-family: Cambria;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9f9f9f;
}

.version {
  width: 61px;
  height: 16px;

  font-family: AvenirNext;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9f9f9f;
  text-align: center;
}

.btm-logo {
  width: 20%;
  height: auto;
}

.navbar-default {
  background-color: white;
}
