.CIBMTR-Reporting-label {
  font-family: Cambria;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #9f9f9f;
  height: auto;
}

.version {
  width: 61px;
  height: 16px;
  font-family: AvenirNext;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9f9f9f;
  text-align: center;
}

.btm-logo {
  width: 20%;
  height: auto;
  margin: 20px 30px 25px 0px;
}
.navbar-brand {
  margin-top: 20px;
}

.example-container {
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  flex: 1;
}

.sidebarcontainer {
  padding: 2px;
  width: 50vw;
  height: 100vh;
}
