.arrow_left {
  color: blue;
}

.arrow_right {
  color: darkred;
}

.example-sidenav-div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.example-sidenav-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: darkcyan;
}
