.patient-detail-card {
  height: 73px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.patient-name {
  margin: 12px auto;
  height: 33px;
  font-family: AvenirNext;
  font-size: 24px;
  font-weight: bold;
  color: #4a4a4a;
}

.patient-crid {
  margin: 12px auto;
  height: 33px;
  font-family: AvenirNext;
  font-size: 24px;
  font-weight: bold;
  color: #4a4a4a;
  text-align: right;
}

.research-id-text {
  font-size: 16px;
  font-weight: normal;
  color: #4a4a4a;
}

.observation-label {
  padding: 18px 0px 31px 11px;
  height: 22px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}

.resource-collection {
  overflow: always;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.resource-label {
  padding: 10px 10px 10px 10px;
  height: 20px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.label-font {
  color: #696969;
}

.date-label {
  padding: 28px 0px 0px 14px;
  height: 22px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #696969;
}

.select-btn {
  padding: 14px 0px 0px 14px;
}

.submit-btn {
  padding: 14px 0px 14px 0px;
  width: 190px;
  height: 50px;
  border-radius: 6px;
}

.top-buffer {
  margin-top: 20px;
}
.pl-2 {
  padding-left: 23px;
}

.resource-box-shadow {
  padding: 0px 10px 0px 0px;
  height: 490px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #007ac3;
  border-radius: 10px;
}

.path {
  width: 4px;
  height: 8px;
  border: solid 3px #007ac3;
}

.active {
  font-weight: bold;
  color: #007ac3;
}

.exclamation {
  width: 20px;
  height: 18px;
  background-color: white;
  object-fit: contain;
  color: #007ac3;
}
