<div class="container">
  <div class="row">
    <div class="patient-detail-box-shadow">
      <div class="col-md-6 patient-name">
        <p>{{ getFullName(ehrpatient) }}</p>
      </div>
      <div class="col-md-6 patient-crid">
        <span class="research-id-text">CIBMTR Research ID (CRID) : </span>
        <span>{{ crid }}</span>
      </div>
    </div>

    <div class="col-md-12 observation-label">
      Please select collection you want to submit
    </div>

    <div>
      <div class="col-md-3 resource-collection">
        <div class="col-md-12">
          <div class="resource-label">
            <a
              [routerLink]="
                labs == null ? ['error'] : labs.total == 0 ? ['info'] : ['labs']
              "
              [state]="{
                data: {
                  labs: labs,
                  psScope: psScope
                }
              }"
              >Labs
            </a>
            <b
              *ngIf="labs != null; else other_content"
              class="badge pull-right"
              >{{ labs.total }}</b
            >
            <ng-template #other_content>other content here...</ng-template>
          </div>

          <div class="resource-label">
            <a
              [routerLink]="
                vitals == null
                  ? ['error']
                  : vitals.total == 0
                  ? ['info']
                  : ['vitals']
              "
              [state]="{
                data: {
                  vitals: vitals,
                  psScope: psScope
                }
              }"
              >VitalSigns
            </a>
            <b class="badge pull-right">{{ vitals.total }}</b>
          </div>

          <div class="resource-label">
            <a
              [routerLink]="
                agvhd == null
                  ? ['error']
                  : agvhd.total == 0
                  ? ['info']
                  : ['agvhd']
              "
              [state]="{
                data: {
                  agvhd: agvhd,
                  psScope: psScope
                }
              }"
              >Flowsheet-aGVHD
            </a>
            <b class="badge pull-right">{{ agvhd.total }}</b>
          </div>

          <div class="resource-label">
            <a
              [routerLink]="
                core == null ? ['error'] : core.total == 0 ? ['info'] : ['core']
              "
              [state]="{
                data: {
                  core: core,
                  psScope: psScope
                }
              }"
              >CoreCharacteristics
            </a>
            <b class="badge pull-right">{{ core.total }}</b>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8 observations-box-shadow">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
