<div class="container">
  <div class="row">
    <div class="patient-detail-box-shadow">
      <div class="col-md-8 patient-name">
        <p>{{ ehrpatient.name[0].text }}</p>
      </div>
      <div class="col-md-4 patient-crid">
        <p>{{ crid }}</p>
      </div>
    </div>

    <div class="col-md-12 observation-label">
      Please select resource values you want to submit
    </div>

    <div>
      <div class="col-md-3 resource-collection">
        <div class="col-md-12">
          <div *ngIf="labs.total > 0" class="resource-label">
            <a
              [routerLink]="['labs']"
              [state]="{
                data: {
                  labs: labs,
                  psScope: psScope
                }
              }"
              >Observation-labs :{{ labs.total }}
            </a>
          </div>

          <div *ngIf="vitals.total > 0" class="resource-label">
            <a href="#">Observation-VitalSigns : {{ vitals.total }}</a>
          </div>

          <div *ngIf="agvhd.total > 0" class="resource-label">
            <a
              [routerLink]="['agvhd']"
              [state]="{
                data: {
                  agvhd: agvhd,
                  psScope: psScope
                }
              }"
              >Observation-aGVHD :{{ agvhd.total }}
            </a>
          </div>

          <!-- <div class="resource-label">
            <a class="link-disabled" href="#">Condition : {{ bundle.total }}</a>
          </div>
          <div class="resource-label">
            <a class="link-disabled" href="#"
              >DiagnosticReport : {{ bundle.total }}</a
            >
          </div>
          <div class="resource-label">
            <a class="link-disabled" href="#">Procedure : {{ bundle.total }}</a>
          </div>
          <div class="resource-label">
            <a class="link-disabled" href="#"
              >MedicationStatement : {{ bundle.total }}</a
            >
          </div> -->
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8 observations-box-shadow">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
