<div class="container">
  <div class="row">
    <div class="patient-detail-card">
      <div class="col-12 col-md-6 patient-name">
        <p>{{ getFullName(ehrpatient) }}</p>
      </div>
      <div class="col-12 col-md-6 patient-crid">
        <span class="research-id-text">CIBMTR Research ID (CRID) : </span>
        <span>{{ crid }}</span>
      </div>
    </div>
    <div class="col-md-12 observation-label">Collection</div>
    <div>
      <div class="col-md-3 resource-collection">
        <div class="col-md-12">
          <div class="resource-label">
            <a
              class="label-font"
              id="priority"
              [routerLink]="
                !priority
                  ? ['error']
                  : priority.total === 0
                  ? ['info']
                  : ['priority']
              "
              [ngClass]="{ active: activeLabel == 'priority' }"
              >Priority Labs
            </a>
            <b *ngIf="priority; else other_content" class="badge pull-right">{{
              priority.total
            }}</b>
            <ng-template #other_content
              ><img
                src="assets/images/exclamation-triangle.png"
                class="exclamation pull-right"
            /></ng-template>
          </div>
          <br />
          <div class="resource-label">
            <a
              class="label-font"
              id="lab"
              [routerLink]="
                !labs ? ['error'] : labs.total === 0 ? ['info'] : ['labs']
              "
              [ngClass]="{ active: activeLabel == 'lab' }"
              >All Labs
            </a>
            <b *ngIf="labs; else other_content" class="badge pull-right">{{
              labs.total
            }}</b>
            <ng-template #other_content
              ><img
                src="assets/images/exclamation-triangle.png"
                class="exclamation pull-right"
            /></ng-template>
          </div>
        </div>
      </div>

      <div class="col-md-9 resource-box-shadow">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
