@import "../node_modules/@nmdp/nmdp-login/css/okta-sign-in.min.css";
@import "../node_modules/@nmdp/nmdp-login/css/nmdp-login.css";

html,
body {
  height: 100%;
  border: 1px solid rgba(24, 102, 151, 0.05);
  background: rgba(24, 102, 151, 0.05) !important;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

body
{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar
{
  display: none;
}
